* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 32px;
}

body {
  min-height: 100vh;
  display: flex;
  align-content: stretch;
}

.container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 10rem 1fr;
}

.controls {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem 0.5rem;
}
.controls .inputGroup {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}
.controls .inputGroup label {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  text-decoration: underline;
}
.controls .inputGroup label.checkboxLabel {
  font-size: 1rem;
  margin-bottom: 0;
  text-decoration: none;
}
.controls .inputGroup input {
  font-size: 0.85rem;
  text-align: right;
}
.controls .inputGroup select {
  font-size: 0.85rem;
}
.controls .inputGroup .controlGroup {
  display: flex;
  flex-direction: row;
}
.controls .inputGroup .controlGroup > * {
  flex: 1 0 0;
}
.controls button {
  font-size: 0.85rem;
}

.addBookModal.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addBookModal {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e293b;
  color: #0f172a;
}
.addBookModal .modalContainer {
  position: relative;
  max-width: 500px;
  background-color: #94a3b8;
  padding: 1rem;
}
.addBookModal .inputGroup {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
}
.addBookModal .inputGroup label {
  font-size: 1.2rem;
  text-decoration: underline;
}
.addBookModal .radioGroup input {
  display: inline;
}
.addBookModal .radioGroup p {
  display: inline;
}
.addBookModal .svgContainer {
  position: absolute;
  margin: 0.25rem;
  top: 0;
  right: 0;
}
.addBookModal button {
  color: #f8fafc;
  font-size: 1.15rem;
  padding: 0.5rem 0.75rem;
  background-color: #14532d;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
  align-content: flex-start;
  background-color: #475569;
}
main .card {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  background-color: #e2e8f0;
  color: #0f172a;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top: 0.15rem solid #334155;
  border-left: 0.15rem solid #334155;
}
main .card .cardLeft {
  flex: 1 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding: 0.25rem;
  z-index: 0;
}
main .card .cardLeft .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .card .cardRight {
  flex: 0 0 1.5rem;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #94a3b8;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
main .card .title {
  font-size: 1.5rem;
  align-self: center;
}
main .card .author {
  font-size: 0.8rem;
  padding-left: 1rem;
  color: #1e293b;
}
main .card .pageCount {
  font-size: 0.7rem;
  color: #1e293b;
}
main .card .readStatus.valid {
  fill: #14532d;
}
main .card .readStatus {
  fill: #630914;
}

.svgContainer {
  position: relative;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  justify-self: center;
  align-self: center;
}

.svgClose {
  align-self: flex-end;
}
.svgClose::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 0.55rem;
  height: 0.55rem;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
}

.svgReadStatus {
  align-self: flex-start;
}
.svgReadStatus::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 0.65rem;
  height: 1rem;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
}

.close {
  fill: #630914;
}/*# sourceMappingURL=style.css.map */