$color-valid: #14532d;
$color-valid-alt: #4ade80;
$color-invalid: #630914;

$card-SVG-Width-Height: 1rem;

$color-0: #f8fafc;
$color-1: #f1f5f9;
$color-2: #e2e8f0;
$color-3: #cbd5e1;
$color-4: #94a3b8;
$color-5: #64748b;
$color-6: #475569;
$color-7: #334155;
$color-8: #1e293b;
$color-9: #0f172a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    &.overflowHidden {
        overflow: hidden;
    }
    min-height: 100vh;
    display: flex;
    align-content: stretch;
    
}
.container {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 10rem 1fr;
}
.controls {
    display: flex;
    margin: 1rem .5rem;
    grid-area: 1 / 1 / 2 / 2;
    .controlsContainer {
        top: 1rem;
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 92vh;
        width: 100%;
        .top {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            .inputGroup {
                display: flex;
                margin-bottom: 1rem;
                flex-direction: column;
                label {
                    font-size: 1.25rem;
                    margin-bottom: .25rem;
                    text-decoration: underline;
                    &.checkboxLabel{
                        font-size: 1rem;
                        margin-bottom: 0;
                        text-decoration: none;
                    }
                }
                input {
                    font-size: .85rem;
                    text-align: right;
                }
                select {
                    font-size: .85rem;
                }
                .controlGroup {
                    display: flex;
                    flex-direction: row;
                    &>*{
                        flex: 1 0 0;
                    }
                }
                
            }
        }
        .bottom {
            button {
                padding: .5rem;
                font-size: 1.15rem;
                background-color: $color-valid;
                color: $color-0;
            }
        }
    }
    button {
        font-size: .85rem;
        width: 100%;

    }
}
.addBookModal {
    &.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $color-8;
    color: $color-9;
    .modalContainer {
        position: relative;
        max-width: 500px;
        background-color: $color-4;
        border-radius: 10px;
        .errorText {
            height: .75rem;
        }
        .inputGroup {
            padding: 0 .5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: stretch;
            label {
                font-size: 1.25rem;
                text-decoration: underline;
            }
            input {
                padding: .25rem;
            }
        }
        .radioGroup {
            input {
                display: inline;
            }
            p {
                display: inline;
            }
        }
        .svgContainer{
            position: absolute;
            margin: .25rem;
            top: 0;
            right: 0;
        }
        button {
            color: $color-0;
            font-size: 1.15rem;
            padding: .5rem .75rem;
            background-color: $color-valid;
            width: 100%;
            border: none;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
    align-content: flex-start;
    background-color: $color-6;
    grid-area: 1 / 2 / 2 / 3;
    .card {
        margin: .5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        background-color: $color-2;
        color: $color-9;
        border-bottom-right-radius: .5rem;
        border-top-right-radius: .5rem;
        border-top: .15rem solid $color-7;
        border-left: .15rem solid $color-7;
        .cardLeft {
            flex: 1 0 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            padding: .25rem;
            z-index: 0;
            .bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        .cardRight {
            flex: 0 0 1.5rem;
            display: grid;
            gap: 5px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            background-color: $color-4;
            border-bottom-right-radius: .5rem;
            border-top-right-radius: .5rem;
        }
        .title {
            font-size: 1.5rem;
            align-self: center;
        }
        .author {
            font-size: .8rem;
            padding-left: 1rem;
            color: $color-8;
        }
        .pageCount {
            font-size: .7rem;
            color: $color-8;
        }
        .readStatus.valid {
            fill: $color-valid;
        }
        .readStatus {
            fill: $color-invalid;
        }
    }
}


.svgContainer {
    position: relative;
    z-index: 1;
    width: $card-SVG-Width-Height;
    height: $card-SVG-Width-Height;
    justify-self: center;
    align-self: center;
}
.svgClose {
    align-self: flex-end;
    &::before{
        position: absolute;
        z-index: -1;
        content: '';
        width: calc($card-SVG-Width-Height*.55);
        height: calc($card-SVG-Width-Height*.55);
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: white;
    }
}
.svgReadStatus {
    align-self: flex-start;
    &::before{
        position: absolute;
        z-index: -1;
        content: '';
        width: calc($card-SVG-Width-Height*.65);
        height: calc($card-SVG-Width-Height);
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: white;
    }
}
.close {
    fill: $color-invalid;
}